@charset "euc-jp";
body {
  line-height: 1.5;
}

/*img {
  background: 50% 50% no-repeat #ffffff url(../common/img/icon_loading.gif);
}*/
/*
#content
--------------------------------*/
#content {
  width: 950px;
  margin: 10px auto 0;
  overflow: hidden;
  zoom: 1;
}

/*
#mainContainer
--------------------------------*/
#mainContainer {
  width: 720px;
  float: right;
  overflow-x: hidden;
}

/*
#topMainCarrousel
--------------------------------*/
#topMainCarrousel {
  overflow: hidden;
}

#topMainCarrousel li {
  vertical-align: bottom;
  zoom: 1;
}

#topMainCarrousel a {
  display: block;
  zoom: 1;
}

#topMainCarrousel .carrouselCanvas {
  width: 554px;
  height: 240px;
  float: left;
  overflow: hidden;
}

#topMainCarrousel .slideList {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  zoom: 1;
}

#topMainCarrousel .slideList li {
  position: absolute;
  left: 0;
  top: 0;
}

#topMainCarrousel .carrouselNavigation {
  width: 160px;
  height: 240px;
  padding-left: 6px;
  float: right;
  overflow: hidden;
}

#topMainCarrousel .carrouselNavigation li {
  position: relative;
}

#topMainCarrousel .carrouselNavigation a {
  position: relative;
  background: #80786f;
}

#topMainCarrousel .present {
  width: 6px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background: no-repeat 0 0 url(../img/img_topMainCarrousel_present.gif);
}

/*
#mainContainer - sectionContainer
--------------------------------*/
#mainContainer .sectionContainer {
  margin-top: 15px;
  padding-bottom: 10px;
}

#mainContainer .sectionContainer div.last-child {
  padding-bottom: 0;
}

/* sectionHeader */
#mainContainer .sectionContainer .sectionHeader {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  border-bottom: 1px solid #999999;
  color: #999999;
  font-size: 82%;
  zoom: 1;
}

#mainContainer .sectionContainer .sectionHeader i {
  margin-right: 10px;
  float: left;
}

#mainContainer .sectionContainer .sectionHeader h2 img {
  margin-right: 10px;
  float: left;
}

#mainContainer .sectionContainer .sectionHeader h2 span {
  margin-right: 15px;
  padding-top: 0.5%;
  float: left;
}

/* sectionNavigation */
#mainContainer .sectionContainer .sectionNavigation {
  position: absolute;
  right: 0;
  bottom: 5px;
}

#mainContainer .sectionContainer .sectionNavigation li {
  float: right;
  line-height: 1;
  margin-left: 25px;
  font-size: 82%;
}

#mainContainer .sectionContainer .sectionNavigation i {
  margin: 0;
}

/* switchCategory */
#mainContainer .sectionContainer .switchCategory {
  padding-top: 0.5%;
  float: left;
  color: #333333;
}

/* subsectionHeader */
#mainContainer .sectionContainer .subsectionHeader {
  margin-bottom: 10px;
  color: #666666;
  font-weight: bold;
}

/* thumbColumnContainer */
#mainContainer .sectionContainer .thumbColumnContainer {
  overflow: hidden;
  margin-left: 12px;
  zoom: 1;
}

#mainContainer .sectionContainer .thumbColumnContainer li {
  float: left;
}

#mainContainer .sectionContainer .thumbColumnContainer .thumb {
  display: block;
  padding-bottom: 5px;
}

/* textColumnContainer */
#mainContainer .sectionContainer .textColumnContainer {
  overflow: hidden;
  zoom: 1;
}

#mainContainer .sectionContainer .textColumnContainer li {
  padding-bottom: 3px;
  float: left;
  font-size: 82%;
}

/* sectionCarrousel */
#mainContainer .sectionContainer .sectionCarrousel {
  position: relative;
  overflow: hidden;
  zoom: 1;
}

#mainContainer .sectionContainer .sectionCarrousel .carrouselCanvas {
  width: 650px;
  height: 200px;
  overflow: hidden;
  float: left;
}

#mainContainer .sectionContainer .sectionCarrousel .itemList {
  width: 9999px;
  background: #ffffff;
  overflow: hidden;
  zoom: 1;
}

#mainContainer .sectionContainer .sectionCarrousel i {
  width: 23px;
  height: 23px;
}

#mainContainer .sectionContainer .sectionCarrousel li {
  width: 120px;
  margin-right: 12px;
  float: left;
}

#mainContainer .sectionContainer .sectionCarrousel .thumb {
  display: block;
  padding-bottom: 5px;
}

#mainContainer .sectionContainer .sectionCarrousel .carrouselNavigation {
  display: block;
  width: 23px;
  margin-top: 50px;
  padding: 0 6px;
  float: left;
}

#mainContainer .sectionContainer #rankingCarrousel .carrouselNavigation {
  margin-top: 70px;
}

#mainContainer .sectionContainer .sectionCarrousel .carrouselNavigation .enable {
  display: none;
  zoom: 1;
  cursor: pointer;
}

.img-prize {
  display: inline-block;
  width: 25px;
  height: 18px;
  margin-bottom: 6px;
  color: #ffffff;
  background: #999999;
  font-size: 82%;
  font-weight: bold;
  text-align: center;
}

.img-clPrevD {
  background-image: url(../img/icon_clPrevD.gif);
}

.img-clPrev {
  background-image: url(../img/icon_clPrev.gif);
}

.img-clNextD {
  background-image: url(../img/icon_clNextD.gif);
}

.img-clNext {
  background-image: url(../img/icon_clNext.gif);
}

/* newsListContainer */
#mainContainer .sectionContainer .newsListContainer .thumbColumnContainer {
  width: 735px;
  overflow: hidden;
  zoom: 1;
}

#mainContainer .sectionContainer .newsListContainer .thumbColumnContainer i {
  margin-right: 5px;
  float: left;
}

#mainContainer .sectionContainer .newsListContainer .thumbColumnContainer li {
  width: 225px;
  margin: 0 15px 5px 0;
}

#mainContainer .sectionContainer .newsListContainer .thumbColumnContainer .thumb {
  display: block;
  margin-right: 15px;
  float: left;
}

.img-new {
  margin-right: 5px;
  float: left;
}

/* itemListContainer */
#mainContainer .sectionContainer .itemListContainer {
  padding-bottom: 15px;
}

#mainContainer .sectionContainer .itemListContainer .subsectionHeader {
  padding: 4px 0 3px 12px;
  background: #f6f6f6;
  font-size: 82%;
}

#mainContainer .sectionContainer .itemListContainer .thumbColumnContainer li {
  width: 70px;
  margin-right: 10px;
}

/* brandListContainer */
#mainContainer .sectionContainer .brandListContainer {
  width: 760px;
  padding-bottom: 15px;
}

#mainContainer .sectionContainer .brandListContainer .subsectionHeader {
  padding: 4px 0 3px 12px;
  background: #f6f6f6;
  font-size: 82%;
}

#mainContainer .sectionContainer .brandListContainer .thumbColumnContainer {
  margin: 0 0 30px 12px;
  text-align: center;
}

#mainContainer .sectionContainer .brandListContainer .thumbColumnContainer li {
  width: 80px;
  margin-right: 25px;
  padding: 0 10px 10px 0;
}

#mainContainer .sectionContainer .brandListContainer .thumbColumnContainer .couponimg {
  width: 325px;
  margin-right: 25px;
  margin-bottom: 10px;
  padding-right: 10px;
}

#mainContainer .sectionContainer .brandListContainer .thumbColumnContainer .timesaleimg {
  width: 230px;
  margin-right: 7px;
  margin-bottom: 5px;
  padding-right: 0px;
}

#mainContainer .sectionContainer .brandListContainer .textColumnContainer {
  margin-left: 12px;
}

#mainContainer .sectionContainer .brandListContainer .textColumnContainer li {
  width: 145px;
  font-size: 66%;
}

/*
#sideColumnContainer
--------------------------------*/
#sideColumnContainer {
  float: left;
  width: 215px;
  padding: 0px 0 7px;
}

/*
#sideColumnContainer - sectionContainer
--------------------------------*/
#sideColumnContainer .sectionContainer {
  margin-bottom: 10px;
  border: 1px solid #999999;
  border-top-width: 3px;
}

#sideColumnContainer .sectionContainer.last {
  padding-bottom: 0;
}

/* items */
#sideColumnContainer .sectionContainer .items {
  display: inline-block;
  margin-left: 10px;
  color: #666666;
  font-size: 82%;
}

.ie6 #sideColumnContainer .sectionContainer .items,
.ie7 #sideColumnContainer .sectionContainer .items {
  display: inline;
  zoom: 1;
}

/* sectionHeader */
#sideColumnContainer .sectionContainer .sectionHeader {
  padding: 5px 10px;
  background-color: #f6f6f6;
}

#sideColumnContainer .sectionContainer .sectionHeader h2 {
  display: inline-block;
  color: #333333;
  font-size: 82%;
  font-weight: bold;
}

.ie6 #sideColumnContainer .sectionContainer .sectionHeader h2,
.ie7 #sideColumnContainer .sectionContainer .sectionHeader h2 {
  display: inline;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .sectionHeader .items {
  font-size: 77%;
}

#sideColumnContainer .sectionContainer .sectionFooter {
  padding: 10px;
  overflow: hidden;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .sectionFooter a {
  display: block;
  float: right;
}

/* textLinkContainer */
#sideColumnContainer .sectionContainer .textLinkContainer {
  padding-top: 3px;
  font-size: 82%;
}

#sideColumnContainer .sectionContainer .textLinkContainer li {
  padding: 3px 10px;
}

/* navListContainer */
#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer {
  padding: 0;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 10px;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer a {
  display: block;
  padding: 7px 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #666666;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .hasList a {
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url(../ab_img/ico_arrow_right.gif);
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .active a {
  background-color: #999999;
  background-image: none;
  color: #ffffff;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer a:hover {
  text-decoration: none;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .active a .items {
  color: #ffffff;
}

#sideColumnContainer .sectionContainer .navListContainer .subTextLink {
  position: absolute;
  top: 0;
  left: 165px;
  z-index: 1;
  display: none;
  padding: 15px 10px;
  background-color: #f6f6f6;
  -ms-box-shadow: 0 0 10px #666666;
  -o-box-shadow: 0 0 10px #666666;
  box-shadow: 0 0 10px #666666;
  zoom: 1;
}

.ie6 #sideColumnContainer .sectionContainer .navListContainer .subTextLink,
.ie7 #sideColumnContainer .sectionContainer .navListContainer .subTextLink,
.ie8 #sideColumnContainer .sectionContainer .navListContainer .subTextLink {
  left: 205px;
  border: 1px solid #999999;
  border-right-width: 2px;
  border-bottom-width: 2px;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .active .subTextLink {
  display: block;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .active .subTextLink li {
  padding: 0;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .subTextLink a {
  width: 150px;
  padding: 3px 5px;
  background: none;
  border: none;
  color: #1d54a7;
  text-decoration: underline;
  white-space: nowrap;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .navListContainer .textLinkContainer .subTextLink a:hover {
  background-color: #999999;
  color: #ffffff;
  text-decoration: none;
}

/* thumbColumnContainer */
#sideColumnContainer .sectionContainer .thumbColumnContainer {
  width: 180px;
  margin: 0 auto;
}

.ie6 #sideColumnContainer .sectionContainer .thumbColumnContainer li,
.ie7 #sideColumnContainer .sectionContainer .thumbColumnContainer li {
  display: inline;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .thumbColumnContainer a {
  display: block;
  zoom: 1;
}

#sideColumnContainer .sectionContainer .thumbColumnContainer .thumb {
  margin-bottom: 5px;
}

/* movieListContainer */
#sideColumnContainer .sectionContainer .movieListContainer .thumbColumnContainer li {
  padding-bottom: 15px;
}

#sideColumnContainer .sectionContainer .movieListContainer .thumbColumnContainer li.last-child {
  padding-bottom: 0;
}

/* snsListContainer */
#sideColumnContainer .sectionContainer .snsListContainer {
  text-align: center;
  font-size: 0;
}

#sideColumnContainer .sectionContainer .snsListContainer .thumbColumnContainer {
  width: 185px;
}

#sideColumnContainer .sectionContainer .snsListContainer .thumbColumnContainer li {
  display: inline;
  padding: 0 5px;
}

#sideColumnContainer .sectionContainer .snsListContainer .thumbColumnContainer a,
#sideColumnContainer .sectionContainer .snsListContainer .thumbColumnContainer img {
  display: inline;
}

/* bannerListContainer */
#sideColumnContainer .bannerListContainer .thumbColumnContainer li {
  margin-bottom: 10px;
}

#sideColumnContainer .bannerListContainer .thumbColumnContainer a {
  zoom: 1;
}

/*
#common icons
--------------------------------*/
.img-itemListBtn {
  width: 78px;
  height: 15px;
  background-image: url(../ab_img/ico_item.gif);
}

.img-brandListBtn {
  width: 78px;
  height: 15px;
  background-image: url(../ab_img/ico_brand.gif);
}

.img-newsListBtn {
  width: 78px;
  height: 15px;
  background-image: url(../ab_img/icon_new.gif);
}

/*
.loadContainer
--------------------------------*/
.loadContainer ul {
  width: 170px;
  float: left;
  padding-right: 13px;
}

.loadContainer ul.last {
  padding-right: 0;
}

.loadContainer ul li {
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
}

.loadContainer ul .big img {
  width: 168px;
  height: 168px;
}

.loadContainer ul .image {
  text-align: center;
}

.loadContainer ul .image a {
  display: block;
}

.loadContainer ul .image img {
  margin: 0 auto;
}

.loadContainer ul .details {
  padding: 0 3px;
  border: 1px solid #e1e1e1;
  background: #e1e1e1;
}

.loadContainer ul .price {
  color: #c40001;
}

.loadContainer ul .title a {
  display: block;
  width: 160px;
  line-height: 1.4;
}

/*
#footer .floatingFooter
--------------------------------*/
#footer.floatingFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #999999;
  background: #ffffff;
}
